{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Image</th>
                <th>Menu</th>
            </tr>
        </thead>
        <tbody>
            {% for row in array %}
                
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}